# Ignore build output directories
/target/
/out/
/Private/

# Ignore configuration files
**/node_modules/
package-lock.json

# Ignore IDE-specific files and directories
.idea/
.vscode/

# Ignore compiled Java classes
*.class

# Ignore log files
*.log
*.iml
!/master.iml

# Ignore dotenv files
.env
